html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: 'indigo-900';
   
}

.gradient{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,199,1) 13%, rgba(0,212,255,1) 100%);   
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.h4 {
    text-align: center;
  }

  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
